{% extends "saml2idp/base.html" %}
{% load i18n %}
{% block content %}
<div id="logged_in_message">
{% blocktrans %}You are now signed in at the Identity Provider.<br />
Click Continue to return to the Service Provider.{% endblocktrans %}
</div>
<form method="post" action="{{ acs_url }}">
    <input type="hidden" name="RelayState" value="{{ relay_state }}" />
    <input type="hidden" name="SAMLResponse" value="{{ saml_response }}" />
    <input type="submit" value="{% trans "Continue" %}" />
</form>
{% if autosubmit %}
<script language="javascript">
<!--
/* Automatically submit the form. */
document.forms[0].submit();
//-->
</script>
{% endif %}
{% endblock content %}
